$desktop: 1366px;

.selectionPanel {
  margin-top: 30px;
  display: flex;
  justify-content: center;

  &.none {
    display: none
  }

  & > div {
    position: relative;
    margin-top: 64px;
    padding: 74px 44px 44px;
    text-align: center;

    .triangle {
      width: 220px;
      @media (min-width: $desktop) {
        width: auto;
      }
    }

    @media (min-width: $desktop) {
      margin-top: 0;
      padding: 104px;
    }

    & > div {
      position: absolute;

      &:first-of-type {
        top: 0;
        left: 0;
      }
    }
  }
}