$desktop: 1366px;

.resultsMode {
  display: flex;
  justify-content: space-around;
  @media (min-width: $desktop) {
    justify-content: center;
  }

  .choiceWrapper {
    margin-top: 64px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @media (min-width: $desktop) {
      flex-direction: column;
    }

    span {
      margin-bottom: 32px;
      text-align: center;
      display: block;
      margin-top: 24px;
      font-size: 16px;
      @media (min-width: $desktop) {
        margin-top: 0;
        font-size: 22px;
      }
    }
  }
}

.resultWrapper {
  margin: auto 32px 64px;
  text-align: center;

  &:not(.mobile) {
    display: none;
  }

  @media (min-width: $desktop) {
    margin-top: auto;
    font-size: 32px;
    &:not(.mobile) {
      display: block;
    }
    &.mobile {
      display: none;
    }
  }
  @media (min-width: $desktop) {

  }

  div:first-of-type {
    color: var(--white-color);
    text-align: center;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
    margin-top: 32px;
    @media (min-width: $desktop) {
      margin-top: 0;
      font-size: 32px;
    }
  }
}
