.gestureWrapper {
  background-color: var(--white-color);
  width: 204px;
  height: 204px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //border: 24px solid orange;
  position: relative;


  &:before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    border-radius: 50%;
  }

  &.scissors:before {
    background: radial-gradient(circle at 100%, var(--scissors-gradient-from), var(--scissors-gradient-from) 50%, var(--scissors-gradient-to) 75%, var(--scissors-gradient-to) 75%);
  }

  &.paper:before {
    background: radial-gradient(circle at 100%, var(--paper-gradient-from), var(--paper-gradient-from) 50%, var(--paper-gradient-to) 75%, var(--paper-gradient-to) 75%);
  }

  &.rock:before {
    background: radial-gradient(circle at 100%, var(--rock-gradient-from), var(--rock-gradient-from) 50%, var(--rock-gradient-to) 75%, var(--rock-gradient-to) 75%);
  }

  &.lizard:before {
    background: radial-gradient(circle at 100%, var(--lizard-gradient-from), var(--lizard-gradient-from) 50%, var(--lizard-gradient-to) 75%, var(--lizard-gradient-to) 75%);
  }
  &.spock:before {
    background: radial-gradient(circle at 100%, var(--spock-gradient-from), var(--spock-gradient-from) 50%, var(--spock-gradient-to) 75%, var(--spock-gradient-to) 75%);
  }

  &:after {
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: white;
  }

  img {
    z-index: 1;
    min-height: 80px;
  }
}