.rulesModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  &.open {
    display: block;
  }
  .content {
    margin: auto;
    background-color: var(--white-color);
    padding: 36px 32px;
    border-radius: 8px;
    max-width: 400px;
  }

  .header {
    span {
      text-transform: uppercase;
      color: var(--dark-text-color);
      font-size: 22px;
      font-weight: 700;
    }

    img {
      margin-left: auto;
    }
  }
}